.header {
  display: table;
  margin: 0 auto;
  clear: both;
  width: 100%;
  text-align: center;
}

.column {
  float: left;
  width: 100%;
}

.saldos {
  margin-top: 15px;
}

.tableContent {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 84%;
    overflow-y: scroll;
    max-block-size: -webkit-fill-available;
}

.conceptos-table {
    width: 100%;
}

.mat-expansion-panel-header-description {
    display: flex;
    justify-content: flex-end;
}

.itemDescription {
    float: left;
    font-size: small;
}

.itemAmount {
    float: right;;
    font-size: small;
}


