<div class="loading" *ngIf="loading === true">
    <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
</div>

<div *ngIf="loading === false">
    <div class="tableContent">

        <table mat-table [dataSource]="conceptos" class="mat-elevation-z8 conceptos-table">

            <ng-container matColumnDef="concepto">
            <th mat-header-cell *matHeaderCellDef>{{'concept.concept' | translate }}</th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef>{{'concept.type' | translate }}</th>
                <td mat-cell
                    *matCellDef="let element"
                    [class.importeNegativo]="element.credito === false">
                    {{element.credito === true ? this.debitTitle : this.creditTitle }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openConceptoDialog(row)"></tr>

        </table>
    </div>

    <button mat-fab color="primary" class="addButton" (click)="openConceptoDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>

