UI/node_modules/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/
*.user

/Tips/POCCosmosDB/CosmosGettingStartedTutorial/bin/Debug/net5.0
/Tips/POCCosmosDB/CosmosGettingStartedTutorial/bin/Debug/net6.0

/UI/.angular/cache

/Backend/Backend/.config
/Backend/Backend/Properties
/Backend/Backend/Backend.csproj.user

/Mobile_Android/.vscode
/Mobile_Android/src/node_modules
/Mobile_Android/src/www
/Mobile_Android/src/platforms/android/app/release
/Mobile_Android/src/platforms/android/app/src/*
/Mobile_ionic/.angular/cache
/Mobile_ionic/.vscode
/Mobile_ionic/node_modules
/Mobile_ionic/www
/Mobile_ionic/release_android_aab
/Mobile_ionic/android/app/release
