UI/node_modules/
Backend/Backend/bin/
Backend/Backend/obj/
Backend/.vs/
/Backend/ControlGastos.Models/obj/Debug/net5.0
/Backend/ControlGastos.Models/obj
/Backend/ControlGastos.Models/bin/Debug/net5.0
/Backend/Repository.CosmosDB/obj
/Backend/Repository.Interfaces/obj
/Tips/POCCosmosDB/.vs/CosmosGettingStarted
/Tips/POCCosmosDB/CosmosGettingStartedTutorial/bin/Debug/netcoreapp2.1
/Tips/POCCosmosDB/CosmosGettingStartedTutorial/obj
/Backend/Infrastructure.Configuration/bin/Debug/net5.0
/Backend/Infrastructure.Configuration/obj
/Backend/Repository.CosmosDB/bin/Debug/net5.0
/Backend/Repository.Interfaces/bin/Debug/net5.0
/Backend/Services.Configuration/bin/Debug/net5.0
/Backend/Services.Configuration/obj
/Backend/Services.Implementation/bin/Debug/net5.0
/Backend/Services.Implementation/obj
/Backend/Services.Interfaces/bin/Debug/net5.0
/Backend/Services.Interfaces/obj
/Backend/Shared.Execptions/bin/Debug/net5.0
/Backend/Shared.Execptions/obj
/Backend/Backend/.config
/Backend/Backend/Properties/PublishProfiles
/Backend/Backend/Properties/ServiceDependencies/controlgastosbackend - Web Deploy
/Backend/Backend/Properties
/Backend/Backend/Backend.csproj.user
/Backend/ControlGastos.Models/bin/Release/net5.0
/Backend/Infrastructure.Configuration/bin/Release/net5.0
/Backend/Repository.CosmosDB/bin/Release/net5.0
/Backend/Repository.Interfaces/bin/Release/net5.0
/Backend/Services.Configuration/bin/Release/net5.0
/Backend/Services.Implementation/bin/Release/net5.0
/Backend/Services.Interfaces/bin/Release/net5.0
/Backend/Shared.Execptions/bin/Release/net5.0
/Backend/Domain.Commands/bin/Debug/net5.0
/Backend/Domain.Commands/obj/Debug/net5.0
/Backend/Domain.Commands/obj
/Backend/Domain.Models/bin/Debug/net5.0
/Backend/Domain.Models/obj/Debug/net5.0
/Backend/Domain.Models/obj
/Backend/Services.CommandHandlers/bin/Debug/net5.0
/Backend/Services.CommandHandlers/obj/Debug/net5.0
/Backend/Services.CommandHandlers/obj
/Backend/Domain.Queries/bin/Debug/net5.0
/Backend/Domain.Queries/obj
/Backend/Services.QueryHandlers/bin/Debug/net5.0
/Backend/Services.QueryHandlers/obj
/Tips/POCCosmosDB/CosmosGettingStartedTutorial/bin/Debug/net5.0
/Backend/Domain.Commands/bin/Debug/net6.0
/Backend/Domain.Models/bin/Debug/net6.0
/Backend/Domain.Queries/bin/Debug/net6.0
/Backend/Infrastructure.Configuration/bin/Debug/net6.0
/Backend/Repository.CosmosDB/bin/Debug/net6.0
/Backend/Repository.Interfaces/bin/Debug/net6.0
/Backend/Services.CommandHandlers/bin/Debug/net6.0
/Backend/Services.QueryHandlers/bin/Debug/net6.0
/Backend/Shared.Execptions/bin/Debug/net6.0
/Tips/POCCosmosDB/CosmosGettingStartedTutorial/bin/Debug/net6.0
/Backend/ConsoleApp1/bin/Debug/net6.0
/Backend/ConsoleApp1/obj
/Backend/Domain.Model/bin/Debug/net6.0
/Backend/Domain.Model/obj
/Backend/Domain.Commands/bin/Release/net6.0
/Backend/Domain.Model/bin/Release/net6.0
/Backend/Domain.Queries/bin/Release/net6.0
/Backend/Infrastructure.Configuration/bin/Release/net6.0
/Backend/Repository.CosmosDB/bin/Release/net6.0
/Backend/Repository.Interfaces/bin/Release/net6.0
/Backend/Services.CommandHandlers/bin/Release/net6.0
/Backend/Services.QueryHandlers/bin/Release/net6.0
/Backend/Shared.Execptions/bin/Release/net6.0
/UI/.angular/cache
/Mobile_Android/.vscode
/Mobile_Android/src/node_modules
/Mobile_Android/src/www
/Mobile_Android/src/platforms/android/app/release
/Mobile_Android/src/platforms/android/app/src/*
/UI_Generic/workspace-jle-password/.vscode
/UI_Generic/workspace-jle-password/projects/lib-jle-pwd/node_modules
/UI_Generic/workspace-jle-password/.angular/cache/13.1.4
/UI_Generic/workspace-jle-password/dist
/UI_Generic/workspace-jle-password/node_modules
/Backend/Queue.AzureStorage/bin/Debug/net6.0
/Backend/Queue.AzureStorage/obj
/Backend/Queue.Interfaces/bin/Debug/net6.0
/Backend/Queue.Interfaces/obj
/Azure/Functions/ForgotPassword/ForgotPasswordFunction/.vs/ForgotPasswordFunction
/Azure/Functions/Registration/RegistrationSendEmail/.vs/RegistrationSendEmail
/Azure/Functions/ForgotPassword/ForgotPasswordFunction/ForgotPasswordFunction/bin
/Azure/Functions/ForgotPassword/ForgotPasswordFunction/ForgotPasswordFunction/obj
/Azure/Functions/ForgotPassword/ForgotPasswordFunction/ForgotPasswordFunction/ForgotPasswordFunction.csproj.user
*.user
/Azure/Functions/Registration/RegistrationSendEmail/RegistrationSendEmail/bin/Debug/net6.0
/Azure/Functions/Registration/RegistrationSendEmail/RegistrationSendEmail/obj
/Azure/Functions/Registration/RegistrationSendEmail/RegistrationSendEmail/bin/Release/net6.0
/Mobile_ionic/.angular/cache
/Mobile_ionic/.vscode
/Mobile_ionic/node_modules
/Mobile_ionic/www
/Mobile_ionic/release_android_aab
/Mobile_ionic/android/app/release
/Azure/Functions/Registration/RegistrationSendEmail/.vs/ProjectEvaluation
/Azure/Functions/SendTransactions/.vs
/Azure/Functions/SendTransactions/SendTransactions/bin/Debug/net6.0
/Azure/Functions/SendTransactions/SendTransactions/obj
/Azure/Functions/ForgotPassword/ForgotPasswordFunction/.vs/ProjectEvaluation
/Azure/Functions/MonthlyReport/.vs
