<div class="loading" *ngIf="loading">
  <mat-spinner diameter="70" strokeWidth="5"></mat-spinner>
</div>

<div *ngIf="!loading">
  <div class="header">
    <div class="column">
      <mat-form-field class="anioSelect">
        <mat-label>{{'yearScreen.year' | translate }}</mat-label>
        <mat-select [(value)]="anioSelected" (selectionChange)="onChangeYear($event.value)">
          <mat-option *ngFor="let anio of anios" [value]="anio">{{anio}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="column saldos">
      <app-saldo [titulo]="this.saldoTitle" [saldo]="saldoAnual" (saldoClicked)="showOpenSaldo()"></app-saldo>
    </div>
  </div>

  <div class="tableContent" id="mainTable">
    <mat-accordion class="conceptos-table">
      <mat-expansion-panel *ngFor="let ct of conceptosTotales" [expanded]="!loading && ct.description === openItem" (opened)="loadYearDetails(ct)">
        <mat-expansion-panel-header>
          <mat-panel-title id="{{'item' + ct.description}}">
            {{ct.description}}
          </mat-panel-title>
          <mat-panel-description [class.importeNegativo]="ct.balance < 0">
            {{ct.balance | currency:this._userService.userCurrency}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-spinner class="loading" *ngIf="loadingDetail"></mat-spinner>
        <mat-list *ngIf="!loadingDetail">
          <mat-list-item *ngFor="let detail of itemDetail">
            <div matLine>
              <p class="itemDescription" (click)="goToMonth(detail.month, ct.description)">
                {{detail.MonthFormatted}}
              </p>
              <p class="itemAmount" (click)="goToMonth(detail.month, ct.description)" [class.importeNegativo]="detail.balance < 0">{{detail.balance | currency:this._userService.userCurrency}}</p>
              </div>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
