<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://forgotpasswordsendemail.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e9dcb062-296d-4d41-8db6-54dd36cc7130/resourceGroups/rg_controlgastos/providers/Microsoft.Web/sites/forgotpasswordsendemail</ResourceId>
    <UserName>$forgotpasswordsendemail</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://forgotpasswordsendemail.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>