<div class="fpContainer">
  <div class="fp">
    <p style="color: royalblue">
      <mat-card-title>{{'forgotPassword.hello' | translate: {userName: userName} }}</mat-card-title>
    </p>
    <p>
      <mat-card-title>{{'forgotPassword.passwordUpdate' | translate }}</mat-card-title>
    </p>
    <form [formGroup]="fpForm" class="full-width-form" (ngSubmit)="forgotPasswordApply()" novalidate>
      <div>
        <lib-jle-pwd placeholder="{{'signup.password' | translate }}" label="{{'signup.password' | translate }}" formControlName="passwordFormControl"></lib-jle-pwd>
      </div>
      <div>
        <lib-jle-pwd placeholder="{{'signup.repeatPassword' | translate }}" label="{{'signup.repeatPassword' | translate }}" formControlName="passwordRepeatFormControl"></lib-jle-pwd>
      </div>
      <div class="buttons-section">
          <div class="register-button-container">
              <button mat-raised-button type="submit" color="primary" [disabled]="!fpForm.valid || loading">{{'button.ok' | translate }}
              <mat-icon>how_to_reg</mat-icon>
              </button>
              <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
          </div>
      </div>
    </form>
  </div>
</div>
