<div class="loginContainer">
  <div class="login">
    <div id="titleContainer">
      <div>
        <img src="./../../assets/icons/icon-52x52.png" alt="">
      </div>
      <div id ="divTitle">
        <p>
          <mat-card-title>MoneyGuard</mat-card-title>
        </p>
      </div>
      <div id="divLang">
        <mat-select [(value)]="this.currentLang" (selectionChange)="selectLang($event)">
          <mat-select-trigger>
            <img src="{{this.langService.getLangImage(this.translate.currentLang)}}" width="25" height="25" alt="">
          </mat-select-trigger>
          <mat-option *ngFor="let lang of this.langService.langsLocal" [value]="lang.value">
            <img src="{{lang.image}}" width="25" height="25" alt="">
          </mat-option>
        </mat-select>
      </div>
    </div>

    <form [formGroup]="loginForm" class="full-width-form" (ngSubmit)="login()" novalidate>
      <div>
        <mat-form-field appearance="outline" class="formfield-full-width" >
          <mat-label>{{'login.email' | translate }}</mat-label>
          <input matInput placeholder="{{'login.email' | translate }}" formControlName="emailFormControl">
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <lib-jle-pwd placeholder="{{'login.password' | translate }}" label="{{'login.password' | translate }}" formControlName="pwdFormControl"></lib-jle-pwd>
      </div>
      <div class="buttons-section">
        <div class="register-container">
          <a mat-button color="register" [routerLink]="registerUrl">{{'login.register' | translate }}</a>
        </div>
        <div class="login-button-container">
          <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid || loading">{{'login.login' | translate }}
            <mat-icon>directions_run</mat-icon>
          </button>
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        </div>
      </div>
    </form>
  </div>
</div>


