<div class="fpContainer">
  <div class="fp">
    <p>
      <mat-card-title>{{'forgotPassword.forgotPassword' | translate }}</mat-card-title>
    </p>
    <form [formGroup]="fpForm" class="full-width-form" (ngSubmit)="forgotPassword()" novalidate>
      <div>
          <mat-form-field appearance="outline" class="formfield-full-width" >
              <mat-label>{{'signup.email' | translate }}</mat-label>
              <input matInput placeholder="{{'signup.email' | translate }}" formControlName="emailFormControl">
          </mat-form-field>
      </div>
      <div class="buttons-section">
          <div class="login-container">
              <a mat-button color="login" [routerLink]="loginUrl">{{'signup.goToLogin' | translate }}</a>
          </div>

          <div class="register-button-container">
              <button mat-raised-button type="submit" color="primary" [disabled]="!fpForm.valid || loading">{{'button.ok' | translate }}
              <mat-icon>how_to_reg</mat-icon>
              </button>
              <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
          </div>
      </div>
    </form>
  </div>
</div>
